.leitTakki{
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 8px;
  
    text-decoration: none;
    text-align: center;
  
    font-size: 16px;
    color: #fff9ee;
    background-color: black;
  
  }
  
  .leitaBox p{
    margin-right: 10px;
  }
  
  .leitaBox{
    display: flex;
    align-items: center;
  
  }
  
  